<h3 *ngIf="(gameOver$ | async)"
  class="alert alert-danger">Game Over</h3>
<button *ngIf="(gameOver$ | async)"
  class="btn btn-success"
  (click)="replay()">Play Again</button>
<ng-container *ngIf="!(gameOver$ | async)">
  <div class="card-body row">
    <div class="col-3">
      <h5 class="card-title">Question {{ (model$ | async)?.num }} of {{(model$ | async)?.of}}</h5>

      <p class="card-text">{{(model$ | async)?.question}}</p>

    </div>
    <div class="col-9">
      <div class="form-group row">
        <label class="col-form-label col-3"
          for="answer">Answer:</label>
        <input class="form-control col-6"
          type="number"
          min="0"
          id="answer"
          #guess>
        <button type="button"
          *ngIf="!(atEnd$ | async)"
          (click)="next(guess)"
          class="btn btn-success btn-col col-3">Next Question</button>
        <button type="button"
          *ngIf="(atEnd$ | async)"
          (click)="finishGame(guess)"
          class="btn btn-danger btn-col col-3">Game Finished</button>
      </div>
    </div>
  </div>
</ng-container>
